@font-face {
    font-family: "Gilroy-Bold";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./Gilroy-Bold.woff2") format("woff2"),
         url("./Gilroy-Bold.ttf") format("truetype");
  }